* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.result {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.result-login {
    margin-top: 50px;
    font-size: 48px;
    color: rgb(49, 43, 43);
    text-shadow: 0 4px 3px gray;
}